.header {
    width: 60%;
    margin: 0 auto 60px;
    display: flex;
    justify-content: space-between;

    .logo-container {
        display: flex;
        align-items: center;
        .logo {
            max-width: 100px;
            height: auto;
        }
    }

    .link {
        margin: 0 30px;
        display: flex;
        align-items: center;
    }
}