
body {
  font-family: 'Source Sans Pro';
  font-size: 22px;
  font-weight: 200;
  padding: 20px 100px;
  background-color: #f0f0f0;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: 'Dancing Script';
}

h2 {
  font-weight: 400;
  margin-bottom: 0;
}